
/* CSS reset and basic styles */


@IMPORT <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet">

* {
  box-sizing: border-box;
}



.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #ffffff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  transition: 0.5s; 
}

.polaroid:hover {
  box-shadow: 0 0.4rem 2.4rem rgba(0,0,0,0.3);
  transition: 0.5s;
  transform: translateY(-10px);
}

.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

.italic {
  font-style: italic;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}


/* BUTTON STYLE, from https://www.sliderrevolution.com/resources/css-button-hover-effects/ */ 

.wrapper_button {
  top: 50%;
  left: 50%;
}

.my-button {
  display: block;
  margin-top: -10px;
  margin-left: -20px;
  width: 90%;
  height: 35px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  border: 3px solid #47b2e4;
  color: #47b2e4;
  font-family: arial;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: all .35s;
}

.my-button:before, .my-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #47b2e4;
  z-index: -1;
  transition: all .35s;
}

.my-button:before{
  opacity: .5;
}

.my-button:after{
  transition-delay: .2s;
}

.my-button:hover{
  color: #fff;
}

.my-button:hover:before,
.my-button:hover:after{
  top: 0;
}

.researcher-name{
  color: var(--heading-color);
  font-weight: bold;
}

h2, h3 {
  scroll-margin-top: 88px;
  scroll-padding-top: 1.5rem;
}