* {
	margin: 0;
	padding: 0; 
}

body, html {
	font: 12px "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
	background-color: #24567C; #f5f5f5; #48c0f8; #394A4A;
}

a img {
	border: none;
}

#both {
	clear:both;
}

#top {
	clear:both;
	background-color: #f5f5f5; #48c0f8; #121717;
	height: 120px;
}

#top h1 {
	font-size: 20px;
	color: #48c0f8; #00788A;
	padding-left: 15px;
	padding-right: 15px;
}

#menu {
	clear:both;
	background: #48c0f8; 
   border-top: 4px solid #48c0f8; border-bottom: 4px solid #48c0f8;
	height: 32px;
}

#menu ul {
	padding: 7px;
	padding-left: 70px;
	list-style: none;
}

#menu ul li {
	float: left;
	padding: 0px 9px;
}

#menu ul li a {
	font: 13px Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

#menu ul li a:hover {
	color: #fc0;
}

#slogan {
	clear:both;
	background: #f5f5f5 url(portada2.gif) bottom no-repeat; #98AB3E;
	height: 275px; 
	padding-top: 30px;
	padding-left: 30px;
	border-bottom: 4px solid #48c0f8;

}

#slogan h2 {
	text-align: center; left;
	color: #48c0f8; #00788A;
	font: 24px Arial, Helvetica, sans-serif;	
	font-weight: bold;
	letter-spacing: -1px;
}

#slogan h2 strong {
	text-align: center; left;
	font: 40px Arial, Helvetica, sans-serif;		
	font-weight: bold;
	color: #48c0f8; #00788A;
	letter-spacing: -1px;
}


#slogan p {
text-align: right;
padding-right: 115px;
padding-top: 215px;
padding-bottom: 15px;
}

#cols {
	clear: both;
	background: #fff url(contentbg1-mio.jpg) left repeat-y;
	width: 750px;
}

#colA {
   	float: left; 
	width: 5px;
}  

#colB {
	float: left;
	width: 745px;
}

#welcome {
	padding: 15px 14px 5px 14px; 
	background: #f5f5f5 url(corner.gif) 0 0 no-repeat;
	border-bottom: 4px solid #48c0f8;
}

#A {
	color: #000000;
	padding: 10px 20px;
}

#A ul li {
	list-style: none;
	padding: 3px 0px;
	border-bottom: 1px dashed #630;
}

#A ul li a {
	color: #900000;
	font-weight: bold;
	text-decoration: none;
}

#A ul li a:hover {
	color: #300;
}

#content {
	padding: 20px 14px;
}

#colA h3, #colA h2 {
	color: #4B1D1B;
	font: 18px Arial, Helvetica, sans-serif;
	font-weight: normal;
	letter-spacing: -1px;
}

#colB h2 {
	color: #300;
	font: 18px Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	border-bottom: 4px solid #48c0f8; #00788A;
	padding-top: 20px;
}

#colB h3 {
	color: #300;
	font: 16px Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
}

#colB h4 {
	color: #300;
	font: 14px Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
}


#colB blockquote {
	padding-left: 15px;
		text-align: justify;

}


#cols p {
	color: #333;
	line-height: 14px;
	margin: 5px 0px;
	text-align: justify;
	clear: both;
}

#cols p a {
	color: #900000;
	text-decoration: none;
}

#cols p a:hover {
	text-decoration: underline;
}

#dots {
	border-bottom: 1px dashed #ccc;
}

#temp {
	float: right;
	margin-left: 10px;
}

#temp2 {
	float: left;
	margin-right: 2px;
}

#part {
	float: center;
	margin: 5px;
}

#part img {
	float: center;
	margin: 5px;
}



#footer {
	clear:both;
	width: 710px;
	padding: 15px 20px;
	background: #48c0f8;#a00 url(footer_bg.gif) top repeat-x;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	border-top: 4px solid #000000;
}

#footer a {
	color: #f90;
	text-decoration: underline;
}

#footer a:hover {
	text-decoration: none;
}

#main {
	width: 750px;
	margin: 0 auto;
}